body {
  font-family: "Poppins", sans-serif;
  background: radial-gradient(
    circle at -1% 57.5%,
    rgb(19, 170, 82) 0%,
    rgb(0, 102, 43) 90%
  );
  margin: 0;
}

.header-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/img/emma-chamberlain-attends-the-2021-met-gala-celebrating-in-news-photo-1631569019.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  color: white;
  text-align: center;
  padding: 200px 0;
  margin: 0 auto;
  margin-top: 0;
  max-width: 1400px;
}
.header-container h4 {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

.header-container h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 1;
  margin: 30px 0;
}
.header-container h2 {
  font-size: 40px;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

.header-container a {
  padding: 16px 32px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 3px;
  text-align: center;
  color: #1b8650;
  background: white;
  text-decoration: none;
  display: inline-block;
  margin-top: 32px;
  max-width: 1400px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

main {
  background: white;
}

main h4 {
  opacity: 30%;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 5px;
  color: #272044;
  margin: 0;
}

main h2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  color: #272044;
  margin: 0;
}

main p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  opacity: 70%;
  color: #272044;
}
main img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}
.img-responsive {
  max-width: 100%;
  display: block;
}

iframe {
  width: 100%;
  aspect-ratio: 16/9;
}

.card-header.grid {
  grid-gap: 0;
}
.center-text {
  text-align: center;
}
section.secondery {
  background: #f8f8f8;
  padding: 100px;
}

.card {
  margin-top: 50px;
  background: white;

  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.card-body {
  padding: 30px;
}

.card h3 {
  margin: 0;
  color: #1d848e;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.card-footer {
  margin-top: 48px;
}
.card a {
  text-decoration: none;
  padding: 16px 32px;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3px;
  text-transform: uppercase;
  background: #1d848e;
  color: white;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}
footer {
  background-image: linear-gradient(
      rgba(27, 134, 80, 0.6),
      rgba(27, 134, 80, 0.6)
    ),
    url(/img/emma-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
  padding: 100px 0;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
  margin-right: 20px;
  line-height: 24px;
}

footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
  text-decoration: none;
}
footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.9;
}
section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}
.grid {
  display: grid;
  grid-gap: 64px;
}

.grid-2columns {
  grid-template-columns: auto auto;
}

.grid-3columns {
  grid-template-columns: 1fr 2fr 2fr;
}
@media (max-width: 960px) {
  .header-container {
    padding: 60px 0;
  }
  .header-container h1 {
    font-size: 48px;
  }
  .header-container h4 {
    font-size: 12px;
  }
  .header-container h2 {
    font-size: 20px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  section {
    padding: 30px;
  }
  .card a {
    font-size: 8px;
    padding: 10px;
  }
}
